:root {
    /* variables */
    --cg-lightblue: #e0fbfc;
    --cg-blue: #c2dfe3;
    --cg-lightgray:#9db4c0;
    --cg-grey: #5C6B73;
    --cg-darkgray: #253237;
  }
  
  html {
    height: 100%;
  }
  
  body {
    background: var(--cg-blue);
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: monospace;
  }
  
  main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cg-darkgray);
    font-size: larger;
  }

  /* CSS for contact form */
  
  label {
    display: block;
    margin-bottom: 8px;
    font-family: Georgia;
    font-weight: bold;
    color: var(--cg-grey)
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }

  ::placeholder{
    font-family: Georgia;
    font-weight: bold;
  }
  
  input[type="submit"]{
        background: var(--cg-darkgray);
        border-style: outset;
        border-color: var(--cg-lightgray);
        height: 50px;
        width: 100px;
        font-family: Georgia;
        font-weight: bold;
        color:var(--cg-lightblue);
        text-shadow: none;
        border-radius: 10px;
    }
  
    input[type="submit"]:hover{
        color: var(--cg-darkgray);
        background:var(--cg-lightblue);
    }

  /* CSS for blog preview/pages */
  
  .blog-body{
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .blog-image{
    display: flex;
    justify-content: center;
  }

  .blog-title , .blog-date{
    color:var(--cg-darkgray);
    text-align: center;
  }

  .blog-text {
    justify-content: space-between;
    padding: 20px;
    color:var(--cg-darkgray);
    line-height: 25px;
    font-size: 23px;
    font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .comments {
    text-align: center;
    color:var(--cg-darkgray);
    border : 2px solid;
    border-color: var(--cg-grey);
    border-radius: 4px;
    
  }
  /* Add some spacing to the form */
  form {
    width: 500px;
    margin: 0 auto;
  }


  

